{% extends 'base.html.twig' %}

{% block body %}
    <div class="container p-5 text-center">
        <div class="row">
            <div class="col">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10062.571628843778!2d6.9897046!3d50.9118232!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47bf2565dfe5e5c7%3A0x5e1ba36eab3f6f5b!2sPizzeria%20The%20Sopranos%20K%C3%B6ln!5e0!3m2!1sen!2snl!4v1707778207993!5m2!1sen!2snl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="col m-auto">
                <p>
                    Email: <br>
                    sopranos@denhaag.nl
                </p>
                <br>
                <p>
                    Telefoonnummer: <br>
                    +012345678
                </p>
            </div>
        </div>
    </div>
{% endblock %}
