{% extends 'base.html.twig' %}

{% block body %}
    <div class="container p-5 my-5 text-center">
        <h1>Weet je het zeker?</h1>
        <div class="row p-5">
            <div class="col p-4">
                {{ form(form) }}
            </div>
        </div>
    </div>
{% endblock %}
