{% extends 'base.html.twig' %}

{% block body %}
    <div class="container d-flex p-5 my-5 text-center justify-content-center align-items-center">
        <div class="row row-cols-1 row-cols-md-3">
            {% for category in categories %}
                <div class="col">
                    <div class="card">
                        <a class="text-decoration-none text-black" href="{{ path('pizzas', {id: category.id}) }}">
                            <img src="{{ asset('img/' ~ category.image) }}" class="card-img-top img-fluid" alt="...">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">{{ category.name }}</h5>
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                <i class="bi bi-trash3"></i>
                            </button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
